{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="card">
            <h1 class="py-3 display-2">{{name}}</h1>
            <div class="py-4">
                <p class="wi wi-day-sunny display-2"></p>
                <div class="py-4 temp-desc">
                    <p>{{temp}}&deg; Cel</p>
                    <p>
                    <span>{{temp_max}}&deg; Max &ensp;</span>
                    <span>{{temp_min}}&deg; Min</span>
                    </p>
                    <p>{{desc}}</p>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}
